* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/background.jpg");
    width: 100vw;
    height: 100vh;
}

.text-name {
    padding-top: 250px;
    margin-left: 20px;
    text-transform: uppercase;
    color: black;
    font-size: 12px;
}

.text-line {
    margin-top: 20px;
    margin-left: 20px;
    text-transform: uppercase;
    color: black;
    font-size: 42px;
}

button {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 18px;
    border: none;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}

footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.close {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}